<h1>{{name}}</h1>
<p>{{link}}</p>
<p>{{description}}</p>
Tags:
    {{#each tags }}
    <p>{{this}}</p>
    {{/each }}
<a href="#links/<%- id %>/edit" class="btn btn-small js-edit">
    <i class="icon-pencil"></i>
    Edit this link
</a>
