<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand js-home">Link Manager</a>
            <div classs="nav-collapse collapse">
                <ul class="nav">
                </ul>
            </div>
        </div>
    </div>
</div>