<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand js-home">Link Manager</a>
            <ul class="nav">
                <li class="active"><a href="/" class="js-home">Home</a></li>
                <li><a href="/#links">Links</a></li>
                <li><a href="/#login" class="js-login">Login</a></li>
            </ul>
        </div>
    </div>
</div>