<input id="newName" placeholder="name" name="name">
<input id="newDescription" placeholder="description" name="description">
<input id="newLinkItem" placeholder="link" name="link">
<button id="newLinkButton">Add Link</button>