<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="js-home">
                <span class="brand">Link Manager</span>
            </a>
        </div>
    </div>
</div>