<form>
    <div class="control-group">
        <label for="link-email" class="control-label">Email: </label>
        <input id ="link-email" name="email" type="text" value="{{ email }}"/>
    </div>
    <div class="control-group">
        <label for="link-password" class="control-label">Password: </label>
        <input id ="link-password" name="password" type="password" value="{{ password }}" />
    </div>
    <div class="control-group">
        <label for="link-confirmPassword" class="control-label">Confirm Password: </label>
        <input id ="link-confirmPassword" name="confirmPassword" type="password" value="{{ confirmPassword }}" />
    </div>
    <button class="btn js-submit">Save</button>
</form>
