<td>{{ name }}</td>
<td>{{ description }}</td>
<td>
    <a href="#links/{{ id }}" class="btn btn-small js-show">
        <i class="icon-eye-open"></i>
        Show
    </a>
    <a href="#links/{{ id }}/edit" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Edit
    </a>
    <button class="btn-small js-delete">
        <i class="icon-remove"></i>
        Delete
    </button>
</td>