<section id="linkapp">
    <header id="header"></header>
    <section id="main"></section>
    <footer id="footer"></footer>
</section>
<footer id="info">
    <p>Double-click to edit a link</p>
</footer>