<div class="view">
    <input class="toggle" type="checkbox" {{#if read}}checked{{/if}}>
    <label>{{ name }}</label>
    <button class="destroy"></button>
</div>
<input class="edit" value="{{ name }}">