<form>
    <div class="control-group">
        <label for="contact-name" class="control-label">Name: </label>
        <input id ="contact-name" name="name" type="text" value="{{ name }}" />
    </div>
    <div class="control-group">
        <label for="link-link" class="control-label">Link: </label>
        <input id ="link-link" name="link" type="text" value="{{ link }}" />
    </div>
    <div class="control-group">
        <label for="link-description" class="control-label">Description: </label>
        <input id ="link-description" name="description" type="text" value="{{ description }}" />
    </div>
    <div class="control-group">
        <label for="link-tags" class="control-label">Tags: </label>
        <input id ="link-tags" name="tags" type="text" value="{{ tags }}" />
    </div>
    <button class="btn js-submit">Save</button>
</form>
